* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


@import "./base";

@import "./components/header";
@import "./components/footer";

@import "./pages/proyectos";
@import "./pages/actualidad";
@import "./pages/dona";
@import "./pages/sumate"



